{{!-- {{#each trails as |trail| }}
<div class='search-result-container' id='search-result-container'>
< class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <a href="/api/trails/{{trail.id}}">{{trail.name}}</a>
    </h2>
    <p>Check out this trail! {{trail.city}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{trail.description}}
    </p>
  </div>

  <div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
      <img src={{trail.image}} /> />
    </figure>
  </div>
{{/each}}
<script src ="/js/showtrails.js"></script> --}}
{{! </div>

    </section>

       
    </div>
    <footer id="footer"><strong>bikeRoutes</strong> <a>Made by Team 7</a></footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="./js/search.js"></script>
    <script src="./js/title-text-effect.js"></script>
</body>

</html> }}

{{#each trails as |trail|}}
  {{!--<div class='card'>
    <div class='card-image'>
      <figure class='image is-250x250'>
        <img class='trail-img' src={{trail.image}} alt='Trail Image' />
      </figure>
    </div>
    <div class='card-content has-background-black'>
      <div class='media'>
        <div class='media-content'>
          <p class='title is-4'>{{trail.name}}</p>
        </div>
      </div>

      <div class='content'>
        {{trail.description}}
        <br />
      </div>
    </div>
  </div>
{{/each}}
<script src='/js/showtrails.js'></script>--}}
<div class="card-group">
<div class="card" style="width: 80%;">
  <img class="img-thumbnail" src="{{trail.image}}" alt="Trail image cap">
  <div class="card-body">
    <h5 class="card-title">{{trail.name}}</h5>
    <p class="card-text"> {{trail.description}}</p>
    <a href="/reviews" class="btn btn-primary">Leave a Review</a>
    <h6 class="card-title">User Reviews:</h6>
      {{#if reviews.length}}
      <div class="review-display-list">
        {{#each reviews as |review|}}
        <div class="row mb-2">
          <div class="col-md-8">
            <h4><a href="/reviews/{{review.id}}">{{review.title}}</a></h4>
            <p>{{review.content}}</p>
          </div>
        <div class="col-md-4">
          <button class="btn btn-sm btn-danger" data-id="{{review.id}}">DELETE</button>
        </div>
      </div>
      {{/each}}
    </div>
    {{/if}}
    </div>
  </div>
</div>
{{/each}}
<script src='/js/showtrails.js'></script>
<script src='/js/review.js'></script>